apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
resources:
  - namespace.yaml
  - network-policy.yaml
  - cluster-role-binding.yaml
  - ../base
patches:
  - path: ingress-patch.yaml
